<div class="chart {{content.field_color_variation[0]['#markup']|clean_class}} {{content.field_picture_side[0]['#markup']|clean_class}}">
    <div class="chart__image">
        {{content.field_chart_data}}
    </div>
    <div class="chart__text">
        {{ content.field_headline }}
        <div class="para">
        {{ content.field_text }}
        </div>
    </div>
</div>