<section class="rental-info">
  <div class="rental-info__row">
    <div class="rental-info__col">
      <h2 class="rental-info__title">{{'Werden Sie jetzt Teil von the circle'|trans}}</h2>

      <div class="rental-info__brands">
        {{brands}}
      </div>

      <div class="progress">
        <div class="progress-bar" role="progressbar" data-sold-percentage="{{percentage}}" aria-valuenow="{{sold_space}}" aria-valuemin="0" aria-valuemax="{{total_space}}">
          <span class="progress__current"><span data-sold-value>{{sold_space}}</span> m&sup2;</span>
        </div>
        <span class="progress__start">{{'Already sold space'|trans}}</span>
        <span class="progress__end">{{total_space}} m&sup2;</span>
      </div>

      <div class="rental-info__contact">

        <div class="telephone">
          <div data-contact-icon class="icon-phone"></div>
          <div class="telephone-number">
            <a href="tel: {{content.field_telephone_number.0['#context']['value']}}">{{content.field_telephone_number}}</a>
          </div>
        </div>

        <div class="email">
          <div data-contact-icon class="icon-email"></div>
          <div class="email-address">
            <a href="mailto:{{content.field_email.0['#context']['value']}}">{{content.field_email}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
