<section class="rental-info">
  <div class="brands">
  {{brands}}
  </div>

  {{'Already sold space'|trans}}
  <div class="rent-progress">
    {{sold_space}}m2 // {{total_space}}m2
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width:{{percentage}}%" aria-valuenow="{{sold_space}}" aria-valuemin="0" aria-valuemax="{{total_space}}"></div>
    </div>
  </div>

  <h5>{{'Please contact us'|trans}}</h5>
  {{content.field_telephone_number}}
  {{content.field_email}}
</section>