<section class="house-contact">
  <h2>{{'Contact'|t}}</h2>

  {{content.field_contact}}
  
  <ul class="contact-links">
    {% if content.field_vcard.0 %}
    <li>
      <div class="vcard">
        <div data-contact-icon class="icon-vcard"></div>
        <div class="email-address">
          <a href="{{ path('entity.node.canonical', {'node': 82}) }}">{{'Contact'|t}}</a>
        </div>
      </div>
    </li>
    {% endif %}

    {% if content.field_email.0 %}
    <li>
      <div class="email">
        <div data-contact-icon class="icon-email"></div>
        <div class="email-address">
          <a href="mailto:{{content.field_email.0['#context']['value']}}">{{content.field_email}}</a>
        </div>
      </div>
    </li>
    {% endif %}
  </ul>
</section>