<section class="house-contact">
  <h2>{{'Contact'|t}}</h2>

  {{content.field_contact}}

  {% if content.field_vcard %}
  <a href="{{file_url(content.field_vcard[0]['#file'].getFileUri())}}">vCard</a>
  {% endif %}

  {% if content.field_email %}
  <a href="mailto:{{content.field_email[0]['#context']['value']}}">{{content.field_email[0]['#context']['value']}}</a>
  {% endif %}
</section>