<div class="vision-stage">
  {{content.field_image}}
</div>

{{content.field_text_blocks}}

<div class="egg-area">
{{content.field_blocks_middle}}
</div>

{{content.field_blocks_below}}

{{content.field_other_modules}}