{% set has_overview = content.field_overlay_image.0['#item'] %}

<div class="for-overview {{content.overview_color}}">
  {{content.houses_nav}}

  <div class="area-row">
    <section class="area-stage">
      <div class="area-stage__images">
        {{content.field_image}}
        {{content.field_overlay_image}}
      </div>
      {% if has_overview %}
      <div class="interior-switch-wrapper">
        <a class="interior-switch" data-interior-switch>
          <span class="interior-switch__eye"></span> <span class="interior-switch__text">{{'Interior example'|t}}</span>
        </a>
      </div>
      {% endif %}
    </section>
    <section class="area-info">
      <div class="area-info__top">
        <div class="floor-info">
          <h1>{{content.house_title}}<br>{{label}}</h1>
    
          {% set office_label = 'Office Space' %}
          {% set foyer_label = 'Foyer Space' %}
          {% set terrace_label = 'Terrace Space' %}
          
          <table class="floor-summary">
            <tr>
              <td>{{office_label|t}}</td>
              <td>{{content.total_office_space}}&nbsp;m<sup>2</sup></td>
            </tr>
            <tr>
              <td>{{foyer_label|t}}</td>
              <td>{{content.total_foyer_space}}&nbsp;m<sup>2</sup></td>
            </tr>
            <tr>
              <td>{{terrace_label|t}}</td>
              <td>{{content.total_terrace_space}}&nbsp;m<sup>2</sup></td>
            </tr>
          </table>
      
          <table class="floor-data">
            <thead>
              <tr>
                <th colspan="2" class="floor-data__cell">{{office_label|t}}</th>
                <th class="floor-data__cell">{{foyer_label|t}}</th>
                <th class="floor-data__cell">{{terrace_label|t}}</th>
              </tr>
            </thead>
            <tbody>
              {{content.field_floor_data}}
            </tbody>
          </table>
          {% if has_overview %}
          <table class="interior-data">
            <thead>
              <th colspan="2">{{'Interior Example'|t}}</th>
            </thead>
            <tr>
              <td>
                {{'Floor workplaces'|t}}
              </td>
              <td>
                {{content.field_workplaces}}&nbsp;{{'AP'|t}}
              </td>
            </tr>
            <tr>
              <td>
                {{'Floor efficiency'|t}}
              </td>
              <td>
                {{content.field_efficiency}}&nbsp;m<sup>2</sup>/{{'AP'|t}}
              </td>
            </tr>
          </table>
          {% endif %}
    
          {% if content.field_pdf.0 %}
            {% set pdf_url = file_url(content.field_pdf[0]['#file'].getFileUri()) %}
            <a class="pdf-button" target="_blank" href="{{pdf_url}}">{{'Download PDF'|t}} <span class="icon-download"></span></a>
          {% endif %}
          
          <a class="share-button" href="mailto:?subject={{'The Circle - @floor'|t({'@floor': node.label})}}&body={{url('<current>')}}">{{'Share'|t}} <span class="icon-email"></span></a>
        </div>
      </div>
    </section>
  </div>


  {% include '@circle/partials/area_contact.html.twig' %}
</div>