<div class="module-teaser-2 {{content.field_color['#items'][0].value}}">
  <a href="{{url}}" alt="{{node.label}}">
    <div class="egg-image">
      {{content.field_image}}
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 491 491" enable-background="new 0 0 491 491" xml:space="preserve">
      <g>
      	<path class="mask-white" d="M-2-1v492h493V-1H-2z M354.133,474.228c-98.585,46.871-227.152-17.479-287.165-143.721
      		c-60.01-126.246-28.736-266.575,69.85-313.44c98.585-46.866,227.156,17.485,287.167,143.727
      		C483.999,287.039,452.725,427.368,354.133,474.228z"/>
      </g>
      <g>
      	<path class="mask-color" d="M430.44,181.77c44.064,118.951-2.258,245.773-103.467,283.266
      		c-101.207,37.492-218.973-28.54-263.041-147.489C19.867,198.596,66.189,71.773,167.397,34.279
      		C268.605-3.213,386.376,62.82,430.44,181.77z M136.818,17.067c-98.586,46.865-129.86,187.194-69.85,313.44
      		c60.012,126.241,188.58,190.592,287.165,143.721c98.592-46.859,129.866-187.188,69.852-313.434
      		C363.974,34.552,235.403-29.799,136.818,17.067z"/>
      </g>
      </svg>
    </div>
    <h6>{{label}}</h6>
  </a>
  <div class="details">
    <div class="details__text">
      {{content.field_teaser_text}}
    </div>
  </div>
</div>