<div class="for-overview {{content.overview_color}}">
  {{content.houses_nav}}

  <div class="area-row">
    <section class="area-stage">
      <div class="area-stage__images">
        <div class="overview-images">
          <div class="interactive-area">
            {{content.field_image}}
            <svg id="house-overlay" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            	 width="100%" viewBox="0 0 819.5 522" enable-background="new 0 0 819.5 522" xml:space="preserve">
            <a xlink:href="{{path('entity.node.canonical', {'node': 33})}}">
            <g data-node-id="33" id="H11">
            	<path d="M140.595,435.786l-6.845-95.063l1.521-0.759l9.886-22.817l83.655-42.587c0,0,60.46-26.237,75.291-25.857
            		c14.83,0.38,20.534,3.042,20.534,3.042l7.604-4.563l48.673,9.886v29.661l3.042,0.759l27.379-21.292l152.86,31.18l-36.505,98.865
            		c0,0-57.799,5.323-98.864,8.366c-41.068,3.044-49.433,5.322-73.77,12.929c-23.804,7.452-47.911,25.855-47.911,25.855
            		s-45.631,5.325-67.686,9.127c-22.054,3.803-88.219,4.563-88.219,4.563l12.168-19.773L140.595,435.786z"/>
            </g>
            </a>
          
            <a xlink:href="{{path('entity.node.canonical', {'node': 36})}}">
            <g data-node-id="36" id="H12">
            	<path d="M552.026,288.247l-1.521,5.324l13.689,4.563l-15.21,41.829l-3.802,53.234l3.802,0.762
            		c0,0,66.545-12.17,92.781-25.099c26.237-12.93,54.757-36.125,62.36-50.954c7.607-14.829,19.015-48.671,19.015-48.671l31.94-63.883
            		l-87.457-13.689l-15.972,18.252l-7.604-1.521l-35.745,41.067l-19.011-3.042L552.026,288.247z"/>
            </g>
            </a>
          
            <a xlink:href="{{path('entity.node.canonical', {'node': 37})}}">
            <g data-node-id="37" id="H13_1_">
            	<path id="path" d="M567.238,123.219v-5.323l19.772-18.252c0,0,74.91,11.407,98.865,22.814
            		c23.955,11.409,73.009,21.295,72.247,70.727c-0.76,49.433-6.844,11.408-6.844,11.408l-83.654-12.929l-16.731,19.013l-6.845-2.282
            		l-21.295,24.336l1.521-34.223l-29.66-6.845l2.282-27.378l-3.042-2.281l1.52-34.983L567.238,123.219z"/>
            </g>
            </a>
          
            <a xlink:href="{{path('entity.node.canonical', {'node': 24})}}">
            <g data-node-id="24" id="H14">
            	<path d="M199.153,35l3.041,60.84l15.972,1.521l2.282,4.562l9.125-1.521l2.282,4.563l6.845,3.042h2.281l3.803-3.802
            		l3.803,3.042l5.324,3.042l2.281-3.802h3.802l3.803,8.366l3.042,2.281l2.282,2.282l6.084-3.042l3.802,1.521l7.605,3.041l4.563,3.042
            		l3.802-1.521l3.042,3.042l2.281-1.521l2.282-1.521l3.803,4.564l1.521,5.322l-1.521,4.564l4.562,3.042l1.521-3.803h6.084
            		l1.522,5.324l11.406,5.324l14.45-1.521l1.521,5.324h5.324l21.294-9.888l1.521-33.461l3.804-3.802l0.76-10.648l14.449-9.126
            		l19.012,3.042l9.888-6.844l-0.761-9.127L238.7,37.282L199.153,35z"/>
            </g>
            </a>
          
            <a xlink:href="{{path('entity.node.canonical', {'node': 38})}}">
            <g data-node-id="38" id="H15">
            	<path d="M491.188,163.525v9.886l11.407,2.281l-9.126,7.605l1.521,11.408l-4.562,7.605l-9.127-1.521l-12.168,10.647
            		l-2.282,7.605l-9.125,5.324l-13.69,9.125h-0.76l0.76-32.701l6.085-4.563v-9.886l7.452-6.084l-1.368,0.761l-28.139-4.563
            		l2.281-46.391l6.846-4.563l1.522-14.449l19.011-12.167l96.585,12.167v10.647l41.827,5.324l-3.042,34.983l-97.345-13.689
            		l-6.083,6.844c0,0,3.573,2.357,3.421,4.563c-0.152,1.978-2.661,3.803-2.661,3.803"/>
            </g>
            </a>
          
            <a xlink:href="{{path('entity.node.canonical', {'node': 39})}}">
            <g data-node-id="39" id="H16">
            	<path d="M367.225,255.546l-0.76-11.408l18.252-13.689l47.913,8.366v3.043l10.646-8.367l20.535-12.167l5.322-9.888
            		l10.649-9.126l12.167-0.761l2.281-6.084v-12.928l9.126-6.084l-9.887-3.802l-2.281-8.366v-9.887l-1.521,0.761l6.844-6.844
            		l99.626,14.449l-2.281,28.899l30.42,6.084l-2.281,34.983l-14.45,15.971l-16.731-1.521l-40.307,42.588l-0.76,4.563l-138.411-28.899
            		l-28.14,22.814l-2.281-2.28l0.76-28.9L367.225,255.546z"/>
            </g>
            </a>
            
            <a xlink:href="{{path('entity.node.canonical', {'node': 37})}}">
            <g data-node-id="37" id="H13B">
            	<path d="M374.069,156.681l1.521-50.193l4.564-3.803v-9.886l13.689-8.365l18.252,2.28l25.097-13.689
            		c0,0,145.255,25.477,149.059,25.858c3.802,0.38-10.647,12.167-10.647,12.167l-8.364,7.605v4.563l-12.169-1.521l-0.76-10.647
            		l-97.347-11.407l-17.49,11.407l-2.281,12.928l-6.846,6.845l-1.52,37.265l-13.69,3.042L374.069,156.681z"/>
            </g>
            </a>
            </svg>
          </div>
          <div class="zoom-out-image">
            {{content.field_overlay_image}}
          </div>
          {{content.field_layer}}
        </div>
      </div>
    </section>
    <section class="area-info">
      <div class="area-info__top">
        <h1>{{label}}</h1>

        {{content.body}}
      </div>
      <div class="area-info__bottom">
        <h3 class="where-what">{{'Where is What'|trans}}</h3>
    
        {{content.circles}}
      </div>
    </section>
  </div>
</div>
<script type="x-tmpl-mustache" id="house-flag">
  <div class="flag">
    <div class="flag__inner">
      <span class="flag__circle"></span><span class="flag__text">[[title]]</span>
    </div>
  </div>
</script>