<section class="contact">

  <h2>{{'Contact'|t}}</h2>

  <div class="contact__info-row">
    <div class="contact__info-col">
      <h4>
        {{'Rental and Information'|t}}
      </h4>
      <p>
        {{'Simple Company The Circle'|t}}
      </p>
      <p>
        {{'c/o Flughafen Zürich AG'|t}}<br/>
        {{'Postfach CH-8058 Zürich-Flughafen'|t}}<br/>
      </p>
      <p>
        {{'+41 43 816 19 28'|t}}
      </p>

      <div class="mail">
        <div class="mail__icon"></div>
        <div class="mail__address">
          <a href="mailto:info@thecircle.com">info@thecircle.com</a>
        </div>
      </div>
    </div>
    <div class="contact__info-col">
      <h4>
        {{'Media'|t}}
      </h4>
      <p>
        {{'Flughafen Zürich AG'|t}}
      </p>
      <p>
        {{'Medien «The Circle»'|t}}<br/>
        {{'Postfach CH-8058 Zürich-Flughafen'|t}}<br/>
      </p>
      <p>
        {{'+41 43 816 99 99'|t}}
      </p>

      <div class="mail">
        <div class="mail__icon"></div>
        <div class="mail__address">
          <a href="mailto:medien@zurich-airport.com">medien@zurich-airport.com</a>
        </div>
      </div>
    </div>
  </div>

  <div class="contact__team-row">
    <div class="contact__team-col">
      <h3>{{'Marketing'|t}}<br/>{{'Brands &amp; Dialogue'|t}}</h3>
      <img src="{{ base_path ~ directory }}/assets/images/contact/doris_armellini.jpg" alt="Doris Armellini"/>
      <h5>{{'Doris Armellini'|t}}</h5>
      <p>{{'Telefon: +41 43 816 72 57'|t}}</p>
      <p>
        <a href="mailto:doris.armellini@zurich-airport.com">{{'doris.armellini@zurich-airport.com'|t}}</a>
      </p>
    </div>
    <div class="contact__team-col">
      <h3>{{'Project Manager'|t}}</h3>
      <img src="{{ base_path ~ directory }}/assets/images/contact/beat_pahud.jpg" alt="Behat Pahud"/>
      <h5>{{'Behad Pahud'|t}}</h5>
      <p>{{'Telefon: +41 43 816 19 28'|t}}</p>
      <p>
        <a href="mailto:behad.pahud@zurich-airport.com">{{'behad.pahud@zurich-airport.com'|t}}</a>
      </p>
    </div>
    <div class="contact__team-col">
      <h3>{{'Marketing'|t}}<br/>{{'Gastronomy'|t}}</h3>
      <img src="{{ base_path ~ directory }}/assets/images/contact/ullrich_wolf.jpg" alt="Ullrich Wolf"/>
      <h5>{{'Ullrich Wolf'|t}}</h5>
      <p>{{'Telefon: +41 43 816 29 62'|t}}</p>
      <p>
        <a href="mailto:ullrich.wolf@zurich-airport.com">{{'ullrich.wolf@zurich-airport.com'|t}}</a>
      </p>
    </div>
  </div>

  <div class="contact__team-row egg">
    <div class="contact__team-heading">
      <h3>{{'Marketing Headquarters &amp; Offices'|t}}</h3>
    </div>

    <div class="contact__team-col">
      <img src="{{ base_path ~ directory }}/assets/images/contact/mario_holenstein.jpg" alt="Mario Holenstein"/>
      <h5>{{'Mario Holenstein'|t}}</h5>
      <p>{{'Telefon: +41 43 816 75 69'|t}}</p>
      <p>
        <a href="mailto:mario.holenstein@zurich-airport.com">{{'mario.holenstein@zurich-airport.com'|t}}</a>
      </p>
    </div>
    <div class="contact__team-col">
      <img src="{{ base_path ~ directory }}/assets/images/contact/nadja_kreis.jpg" alt="Nadja Kreis"/>
      <h5>{{'Nadja Kreis'|t}}</h5>
      <p>{{'Telefon: +41 43 816 75 07'|t}}</p>
      <p>
        <a href="mailto:nadja.kreis@zurich-airport.com">{{'nadja.kreis@zurich-airport.com'|t}}</a>
      </p>
    </div>
    <div class="contact__team-col">
      <img src="{{ base_path ~ directory }}/assets/images/contact/jan_eckert.jpg" alt="Jan Eckert"/>
      <h5>{{'Jones Lang Lasalle Ltd.'|t}}<br/>{{'Jan Eckert'|t}}</h5>
      <p>{{'Telefon: +41 44 215 75 10'|t}}</p>
      <p>
        <a href="mailto:jan.eckert@eu.jll.com">{{'jan.eckert@eu.jll.com'|t}}</a>
      </p>
    </div>
    <div class="contact__team-col">
      <img src="{{ base_path ~ directory }}/assets/images/contact/philipp_stricker.jpg" alt="Philipp Stricker"/>
      <h5>{{'Jones Lang Lasalle Ltd.'|t}}<br/>{{'Philipp Stricker'|t}}</h5>
      <p>{{'Telefon: +41 44 215 75 42'|t}}</p>
      <p>
        <a href="mailto:philipp.stricker@eu.jll.com">{{'philipp.stricker@eu.jll.com'|t}}</a>
      </p>
    </div>
  </div>

  <div class="contact__team-row">
    <div class="contact__team-heading">
      <h3>{{'Design &amp; Construction'|t}}</h3>
    </div>

    <div class="contact__team-col">
      <img src="{{ base_path ~ directory }}/assets/images/contact/oliver_strub.jpg" alt="Oliver Strub"/>
      <h5>{{'Oliver Strub'|t}}</h5>
      <p>{{'Telefon: +41 43 816 76 43'|t}}</p>
      <p>
        <a href="mailto:oliver.strub@zurich-airport.com">{{'oliver.strub@zurich-airport.com'|t}}</a>
      </p>
    </div>
    <div class="contact__team-col">
      <img src="{{ base_path ~ directory }}/assets/images/contact/steivan_clavadetscher.jpg" alt="Steivan Clavadetscher Kreis"/>
      <h5>{{'Steivan Clavadetscher'|t}}</h5>
      <p>{{'Telefon: +41 43 816 19 23'|t}}</p>
      <p>
        <a href="mailto:steivan.clavadetscher@zurich-airport.com">{{'steivan.clavadetscher@zurich-airport.com'|t}}</a>
      </p>
    </div>
  </div>

  <div class="contact__partner-row">
    <div class="contact__partner-heading">
      <h3>{{'Partner'|t}}</h3>
    </div>

    <div class="contact__partner-col">
      <h4>
        {{'Partner bulilding construction'|t}}
      </h4>
      <p>
        {{'HRS Real Estate AG'|t}}
      </p>
      <p>
        {{'Office Center 1'|t}}<br/>
        {{'Flughafenstraße 90'|t}}<br/>
        {{'8302 Kloten'|t}}
      </p>
      <p>
        {{'+41 43 816 19 28'|t}}
      </p>

      <div class="mail">
        <div class="mail__icon"></div>
        <div class="mail__address">
          <a href="mailto:mail@hrs.ch">mail@hrs.ch</a>
        </div>
      </div>
    </div>
    <div class="contact__partner-col">
      <h4>
        {{'Announcement'|t}}
      </h4>
      <p>
        {{'Als ausführendes Unternehmen finden Sie alle aktuellen Ausschreibungen auf:'|t}}
      </p>

      <div class="mail">
        <div class="arrow__icon"></div>
        <div class="mail__address">
          <a href="http://www.olmnero.ch">{{'www.olmnero.ch'|t}}</a>
        </div>
      </div>
    </div>

  </div>

</section>
