<section class="contact">

  <div class="contact__heading">
      <h2>{{'Contact'|t}}</h2>
  </div>

  <div class="contact__info-row">
    <div class="contact__info-col">
      <h4>
        {{'Rental and Information'|t}}
      </h4>
      <p>
        {{'Simple Company The Circle'|t}}
      </p>
      <p>
        {{'c/o Flughafen Zürich AG'|t}}<br/>
        {{'Postfach CH-8058 Zürich-Flughafen'|t}}<br/>
      </p>
      <p>+41 43 816 19 28</p>
      <div class="mail">
        <div class="mail__icon"></div>
        <div class="mail__address">
          <a href="mailto:info@thecircle.com">info@thecircle.com</a>
        </div>
      </div>
    </div>
    <div class="contact__info-col">
      <h4>
        {{'Media'|t}}
      </h4>
      <p>
        {{'Flughafen Zürich AG'|t}}
      </p>
      <p>
        {{'Media «The Circle»'|t}}<br/>
        {{'Postfach CH-8058 Zürich-Flughafen'|t}}<br/>
      </p>
      <p>+41 43 816 99 99</p>

      <div class="mail">
        <div class="mail__icon"></div>
        <div class="mail__address">
          <a href="mailto:medien@zurich-airport.com">medien@zurich-airport.com</a>
        </div>
      </div>
    </div>
  </div>

  <div class="contact__team-row">
    <div class="contact__team-col">
      <h3>{{'Marketing'|t}}<br/>{{'Brands & Dialogue'|t}}<br/>{{'Arts & Culture'|t}}</h3>

      <img src="{{ base_path ~ directory }}/assets/images/contact/doris_armellini-mobile.jpg" alt="Doris Armellini" title="Doris Armellini" sizes="(min-width: 1290px) 400px, (min-width: 991px) 250px, 250px"
      srcset="{{ base_path ~ directory }}/assets/images/contact/doris_armellini-desktop.jpg 400w,
      {{ base_path ~ directory }}/assets/images/contact/doris_armellini-mobile.jpg 250w">

      <h5>Doris Armellini</h5>
      <p>Telefon: +41 43 816 72 57</p>
      <p>
        <a href="mailto:doris.armellini@zurich-airport.com">doris.armellini@zurich-airport.com</a>
      </p>
    </div>
    <div class="contact__team-col toTop">
      <h3>{{'Project Manager'|t}}</h3>

      <img src="{{ base_path ~ directory }}/assets/images/contact/beat_pahud-mobile.jpg" alt="Behat Pahud" title="Behat Pahud" sizes="(min-width: 1290px) 400px, (min-width: 991px) 250px, 250px"
      srcset="{{ base_path ~ directory }}/assets/images/contact/beat_pahud-desktop.jpg 400w,
      {{ base_path ~ directory }}/assets/images/contact/beat_pahud-mobile.jpg 250w">

      <h5>Behad Pahud</h5>
      <p>Telefon: +41 43 816 19 28</p>
      <p>
        <a href="mailto:behad.pahud@zurich-airport.com">behad.pahud@zurich-airport.com</a>
      </p>
    </div>
    <div class="contact__team-col">
      <h3>{{'Marketing'|t}}<br/>{{'Dining & Events'|t}}</h3>

      <img src="{{ base_path ~ directory }}/assets/images/contact/ullrich_wolf-mobile.jpg" alt="Ullrich Wolf" title="Ullrich Wolf" sizes="(min-width: 1290px) 400px, (min-width: 991px) 250px, 250px"
      srcset="{{ base_path ~ directory }}/assets/images/contact/ullrich_wolf-desktop.jpg 400w,
      {{ base_path ~ directory }}/assets/images/contact/beat_pahud-ullrich_wolf.jpg 250w">

      <h5>Ullrich Wolf</h5>
      <p>Telefon: +41 43 816 29 62</p>
      <p>
        <a href="mailto:ullrich.wolf@zurich-airport.com">ullrich.wolf@zurich-airport.com</a>
      </p>
    </div>
  </div>

  <div class="contact__team-row egg">
    <div class="contact__team-heading">
      <h3>{{'Marketing'|t}}<br />{{'Headquarters & Offices'|t}}<br />{{'Education & Knowledge'|t}}<br />{{'Health & Beauty'|t}}</h3>
    </div>

    <div class="contact__team-col">
      <img src="{{ base_path ~ directory }}/assets/images/contact/mario_holenstein-mobile.jpg" alt="Mario Holenstein" title="Mario Holenstein" sizes="(min-width: 1290px) 400px, (min-width: 991px) 250px, 250px"
      srcset="{{ base_path ~ directory }}/assets/images/contact/mario_holenstein-desktop.jpg 400w,
      {{ base_path ~ directory }}/assets/images/contact/mario_holenstein-mobile.jpg 250w">

      <h5>Mario Holenstein</h5>
      <p>Telefon: +41 43 816 75 69</p>
      <p>
        <a href="mailto:mario.holenstein@zurich-airport.com">mario.holenstein@zurich-airport.com</a>
      </p>
    </div>
    <div class="contact__team-col">
      <img src="{{ base_path ~ directory }}/assets/images/contact/nadja_kreis-mobile.jpg" alt="Nadja Kreis" title="Nadja Kreis" sizes="(min-width: 1290px) 400px, (min-width: 991px) 250px, 250px"
      srcset="{{ base_path ~ directory }}/assets/images/contact/nadja_kreis-desktop.jpg 400w,
      {{ base_path ~ directory }}/assets/images/contact/nadja_kreis-mobile.jpg 250w">

      <h5>Nadja Kreis</h5>
      <p>Telefon: +41 43 816 75 07</p>
      <p>
        <a href="mailto:nadja.kreis@zurich-airport.com">nadja.kreis@zurich-airport.com</a>
      </p>
    </div>
  </div>

  <div class="contact__team-row">
    <div class="contact__team-heading">
      <h3>{{'Design & Construction'|t}}</h3>
    </div>

    <div class="contact__team-col">
      <img src="{{ base_path ~ directory }}/assets/images/contact/oliver_strub-mobile.jpg" alt="Oliver Strub" title="Oliver Strub" sizes="(min-width: 1290px) 400px, (min-width: 991px) 250px, 250px"
      srcset="{{ base_path ~ directory }}/assets/images/contact/oliver_strub-desktop.jpg 400w,
      {{ base_path ~ directory }}/assets/images/contact/oliver_strub-mobile.jpg 250w">

      <h5>Oliver Strub</h5>
      <p>Telefon: +41 43 816 76 43</p>
      <p>
        <a href="mailto:oliver.strub@zurich-airport.com">oliver.strub@zurich-airport.com</a>
      </p>
    </div>
    <div class="contact__team-col">
      <img src="{{ base_path ~ directory }}/assets/images/contact/steivan_clavadetscher-mobile.jpg" alt="Steivan Clavadetscher" title="Steivan Clavadetscher" sizes="(min-width: 1290px) 400px, (min-width: 991px) 250px, 250px"
      srcset="{{ base_path ~ directory }}/assets/images/contact/steivan_clavadetscher-desktop.jpg 400w,
      {{ base_path ~ directory }}/assets/images/contact/steivan_clavadetscher-mobile.jpg 250w">

      <h5>Steivan Clavadetscher</h5>
      <p>Telefon: +41 43 816 19 23</p>
      <p>
        <a href="mailto:steivan.clavadetscher@zurich-airport.com">steivan.clavadetscher@zurich-airport.com</a>
      </p>
    </div>
  </div>

  <div class="contact__partner-row">
    <div class="contact__partner-heading">
      <h3>{{'Partner'|t}}</h3>
    </div>

    <div class="contact__partner-col">
      <h4>
        {{'Partner bulilding construction'|t}}
      </h4>
      <p>
        {{'HRS Real Estate AG'|t}}
      </p>
      <p>
        {{'Office Center 1'|t}}<br/>
        {{'Flughafenstraße 90'|t}}<br/>
        {{'8302 Kloten'|t}}
      </p>
      <p>
        {{'+41 43 816 19 28'|t}}
      </p>

      <div class="mail">
        <div class="mail__icon"></div>
        <div class="mail__address">
          <a href="mailto:media@hrs.ch">media@hrs.ch</a>
        </div>
      </div>
    </div>
    <div class="contact__partner-col">
      <h4>
        {{'Announcement'|t}}
      </h4>
      <p>
        {{'Here you will find all current announcements:' |t}}
      </p>

      <div class="mail">
        <div class="arrow__icon"></div>
        <div class="mail__address">
          <a href="http://www.olmnero.ch">www.olmnero.ch</a>
        </div>
      </div>
    </div>
    <div class="contact__partner-col">
      <h4>
        {{'Marketing Headquarters & Offices'|t}}
      </h4>
      <h5>Jones Lang Lasalle Ltd.</h5>

      <h6>Jan Eckert</h6>
      <p>+41 44 215 75 10</p>

      <div class="mail">
        <div class="mail__icon"></div>
        <div class="mail__address">
          <a href="mailto:jan.eckert@eu.jll.com">jan.eckert@eu.jll.com</a>
        </div>
      </div>

      <h6>Philipp Stricker</h6>
      <p>+41 44 215 75 42</p>

      <div class="mail">
        <div class="mail__icon"></div>
        <div class="mail__address">
          <a href="mailto:philipp.stricker@eu.jll.com">philipp.stricker@eu.jll.com</a>
        </div>
      </div>
    </div>

  </div>

</section>
