<nav>
{{content.houses_nav}}
</nav>

<div class="overview-row">
  <section class="area-stage">
    <div class="area-stage__images">
      Images
    </div>
  </section>
  <section class="overview-info">
    <h1>{{label}}</h1>

    {{content.body}}

    <h3 class="where-what">{{'Where is What'|trans}}</h3>
    {{content.circles}}
  </section>
</div>