<div class="discover-slides">
{% for item in items %}
  
  {% if loop.first %}
  <nav class="discover-slides__nav">
    <ul>
    {% for title in titles %}
      <li data-index={{loop.index - 1}}>
        <a>
          <span class="title">{{title}}</span>
          <span class="dot"></span>
        </a>
      </li>
    {% endfor %}
    </ul>
  </nav>
  <div data-preloader class="discover-slides__slide discover-preloader was-active">
    <div class="discover-preloader__content">
      <div class="discover-preloader__text">
        <h2>{{'Your invitation to a new'|trans}}</h2>
        <div class="discover-preloader__wow">
          <span class="big-letter">W</span>
          {% include '@circle/partials/logo.html.twig' %}
          <span class="big-letter">W</span>
        </div>
      </div>
    
      <div class="progress-wrapper">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  
  <div class="discover-slides__slide">
    <div class="discover-slides__fullwrap {{labelPositions[loop.index - 1]}}" data-title="{{titles[loop.index - 1]}}" data-bg-desk="{{imageUrls[loop.index - 1]}}">
    {{item}}
    </div>
  </div>
{% endfor %}
</div>


<script type="x-tmpl-mustache" id="title-ani">
  <div class="title-ani">
    <h3>
    [[#title]]
      [[title]]
    [[/title]]
    [[^title]]
      <img src="{{ base_path ~ directory }}/assets/images/text-logo.svg" />
    [[/title]]
    </h3>
  </div>
</script>

<svg viewbox="0 0 500 500" height="0" width="0">
    <defs>
        <clipPath id="svgPath">
      			<path id="circle-shape" d="M166.497,63.796c7.343-16.744,6.296-31.276-9.397-36.296c-6.496-2.083-12.746-4.531-18.858-7.01
      				C128.964,9.627,116.19,2.19,101.4,1.4c-4.821-0.257-9.986,0.674-15.284,2.535C80.598,2.362,75.253,1.5,70.3,1.5
      				C35.9,1.4,8.1,30,8.2,65.2c0,0.75,0.023,1.523,0.058,2.306C0.83,86.437,0.675,105.561,9.2,118.9
      				c4.649,7.232,11.515,12.564,19.85,16.011c10.14,25.252,26.711,45.856,43.85,49.688c23.292,5.208,47.885-9.474,63.764-35.137
      				c2.672-1.151,5.292-2.497,7.836-4.062C172.175,128.525,191.846,81.9,166.497,63.796z M154.2,26.9
      				c15.309,4.666,16.545,18.809,9.673,35.219c-0.126-0.072-0.245-0.148-0.373-0.219c-3.305-1.841-6.561-3.791-9.776-5.785
      				c-1.479-12.547-6.613-24.691-14.435-34.35C144.144,23.596,149.096,25.364,154.2,26.9z M107.507,29.734
      				c1.385,0.273,2.752,0.561,4.093,0.866c10.018,2.273,18.888,6.848,26.206,13.014c0.82,1.236,1.594,2.527,2.345,3.844
      				c-6.398-4.104-12.664-8.021-18.854-11.199C117.022,33.55,112.4,31.348,107.507,29.734z M131.378,133.52
      				c-4.447,5.729-9.309,11.113-14.4,15.881c-2.953,0.984-5.988,1.756-9.086,2.292c-3.04-0.26-6.055-0.747-9.019-1.463
      				C111.391,148.012,122.624,142.046,131.378,133.52z M111.9,28.5c-17.46-3.975-38.791-5.365-56.724-1.322
      				c0.074-0.067,0.148-0.135,0.223-0.202c16.26-7.032,35.366-7.957,51-5.276c10.585,1.842,19.768,7.604,27.014,16.102
      				C127.056,33.519,119.824,30.304,111.9,28.5z M97.46,152.583c-4.659,0.011-9.389-0.487-14.118-1.574
      				c1.54,0.114,3.089,0.191,4.658,0.191c1.413,0,2.81-0.064,4.199-0.157C93.931,151.635,95.687,152.145,97.46,152.583z M25.7,88.9
      				c0,0.103,0.007,0.205,0.008,0.308c-0.083,0.552-0.165,1.104-0.235,1.656c-0.965-2.732-1.78-5.464-2.432-8.174
      				c-0.062-1.335-0.05-2.636,0.059-3.889c1.264-14.632,13.069-33.233,28.405-48.178c9.115-2.754,19.472-3.822,29.882-3.668
      				C50.095,30.258,25.7,56.734,25.7,88.9z M47.218,135.969c-8.062-4.013-14.666-10.195-18.318-19.068
      				c-1.909-4.64-2.872-9.722-3.069-15.004c0.799,1.804,1.685,3.626,2.652,5.46C31.963,118.589,38.547,128.449,47.218,135.969z
      				 M21.3,69.9c3.016-16.738,11.378-28.469,22.311-36.305c0.932-0.432,1.885-0.84,2.856-1.225
      				c-12.502,13.648-22.119,29.605-24.771,43.1c-0.23-1.776-0.381-3.532-0.446-5.264C21.268,70.104,21.282,70.001,21.3,69.9z
      				 M21.294,65.447c0.142-2.456,0.467-4.847,1.006-7.147c2.024-8.641,6.766-15.169,13.255-19.974
      				C29.034,45.209,24.005,54.122,21.294,65.447z M52.755,25.933c-2.524,1.215-4.969,2.586-7.312,4.132
      				C32.349,35.014,22.296,43.771,19,57.8c-1.654,7.042-1.479,14.873,0.137,22.954c-0.449,8.808,0.301,18.027,2.021,27.189
      				c-5.927-14.416-9.739-28.907-10.388-40.38C17.706,49.419,31.411,31.4,50.7,19c8.94-5.748,17.318-9.018,25.352-10.524
      				C68.069,12.835,60.078,18.916,52.755,25.933z M20.107,84.978c0.673,2.609,1.489,5.233,2.432,7.855
      				c0.621,2.242,1.415,4.541,2.366,6.881c0.002,7.783,1.405,15.237,4.595,21.687c3.254,6.58,8.079,11.523,13.849,15.112
      				c-3.024-0.51-5.931-1.218-8.695-2.129c-3.436-5.494-6.613-11.346-9.458-17.326C22.048,106.413,20.203,95.449,20.107,84.978z
      				 M48.752,139.375c1.919,0.852,3.906,1.588,5.953,2.205c11.632,11.372,24.695,20.637,36.488,24.908
      				c-4.835,1.819-9.612,2.763-14.192,2.611c-14.248-0.513-28.659-13.883-40.393-31.68C40.449,138.408,44.513,139.062,48.752,139.375
      				z M59.07,144.07c1.038,0.545,2.095,1.06,3.166,1.547c6.505,4.504,13.271,7.76,19.964,9.283
      				c9.647,2.196,19.308,2.082,28.407,0.033c-5.778,4.634-11.741,8.378-17.643,10.851C82.234,162.726,70.146,154.578,59.07,144.07z
      				 M117.758,154.193c1.899-0.162,3.794-0.415,5.68-0.755c-6.729,8.529-14.469,13.904-23.07,13.616
      				C106.271,163.843,112.145,159.425,117.758,154.193z M122.038,151.212c1.572-0.677,3.115-1.417,4.628-2.214
      				c-0.354,0.526-0.711,1.043-1.071,1.552C124.413,150.809,123.228,151.027,122.038,151.212z M126.262,145.435
      				c2.82-3.194,5.529-6.568,8.096-10.061c-1.295,2.695-2.651,5.298-4.067,7.775C128.979,143.965,127.63,144.718,126.262,145.435z
      				 M130.165,43.053c3.857,2.387,7.754,4.972,11.707,7.614c4.795,9.509,7.877,20.765,8.827,32.992
      				c-0.057,0.305-0.113,0.61-0.172,0.917c-0.119,0.158-0.237,0.316-0.357,0.474C149.157,68.462,141.656,53.627,130.165,43.053z
      				 M152.9,65.035c-0.018,1.49-0.072,2.98-0.2,4.465c-0.095,1.092-0.214,2.242-0.354,3.433c-1.075-6.66-2.801-12.947-5.136-18.702
      				c0.344,0.229,0.688,0.457,1.033,0.685c0.264,0.368,0.523,0.738,0.778,1.112C150.588,59.017,151.897,62.028,152.9,65.035z
      				 M152.526,57.721c0.011,0.007,0.022,0.014,0.033,0.021c0.002,0.021,0.006,0.043,0.008,0.064
      				C152.554,57.778,152.54,57.75,152.526,57.721z M150.991,90.441c0.04,3.046-0.037,6.135-0.26,9.265
      				c-0.981,2.628-2.106,5.291-3.363,7.967c1.199-3.774,2.043-7.706,2.508-11.753C150.275,94.068,150.646,92.241,150.991,90.441z
      				 M142.033,123.863c2.836-4.708,5.377-9.511,7.543-14.287c-0.124,0.774-0.236,1.547-0.376,2.324
      				c-1.269,7.039-3.145,13.754-5.521,20.054c-2.466,2.729-5.163,5.224-8.052,7.466C137.978,134.524,140.116,129.274,142.033,123.863
      				z M150.5,115.7c1.147-4.857,1.951-9.678,2.467-14.432c2.799-7.72,4.478-15.177,4.705-21.832c0.257-0.378,0.515-0.757,0.766-1.135
      				c1.719,8.435,1.688,17.365-0.438,26.298c-2.068,8.831-5.958,16.771-11.16,23.545C148.26,124.139,149.488,119.985,150.5,115.7z
      				 M153.291,80.79c-0.077-0.956-0.162-1.907-0.265-2.85c0.435-3.309,0.751-6.399,0.947-9.206c0.774,3.111,1.209,6.203,1.245,9.241
      				C154.596,78.914,153.95,79.852,153.291,80.79z M154.904,83.343c-0.265,2.261-0.693,4.601-1.272,6.999
      				c0.019-1.747-0.017-3.474-0.083-5.189C154.008,84.55,154.46,83.947,154.904,83.343z M157.514,74.366
      				c0.001,0.003,0.002,0.006,0.002,0.009c0,0,0,0.001-0.001,0.001C157.515,74.373,157.514,74.369,157.514,74.366z M158.857,72.117
      				c-1.22-3.943-2.811-7.744-4.742-11.357c-0.031-0.703-0.085-1.405-0.14-2.107c2.771,1.771,5.578,3.502,8.425,5.147
      				c0.199,0.115,0.387,0.237,0.58,0.355C161.794,66.77,160.411,69.433,158.857,72.117z M135.551,20.338
      				c8.851,9.334,14.771,21.811,16.69,34.853c-0.52-0.325-1.038-0.651-1.555-0.979c-10.601-18.909-31.682-36.534-52.5-45.838
      				C110.692,10.398,122.823,15.433,135.551,20.338z M103.7,4.5c11.835,0.996,22.165,6.344,30.271,14.249
      				c-13.529-5.533-26.501-10.833-40.13-12.192c-0.777-0.305-1.554-0.598-2.328-0.877C95.752,4.599,99.854,4.163,103.7,4.5z
      				 M89.9,6.12c0.17,0.059,0.341,0.122,0.512,0.182c-0.322-0.016-0.644-0.031-0.966-0.042C89.597,6.214,89.75,6.164,89.9,6.12z
      				 M94.484,7.865c9.412,3.893,19.023,9.751,27.743,16.808c-3.36-1.772-6.938-3.125-10.728-3.973
      				c-15.508-3.468-34.559-3.624-51.333,2.189c8.294-6.764,17.165-12.232,25.708-15.424C88.776,7.406,91.643,7.549,94.484,7.865z
      				 M73.1,2.7c3.659,0.132,7.519,0.752,11.491,1.796c-1.689,0.647-3.39,1.385-5.095,2.208C70.408,7.85,60.882,11.124,50.6,17.5
      				C32.276,28.79,18.668,44.979,10.736,61.802C12.24,27.989,39.996,1.507,73.1,2.7z M12.3,118.1
      				c-7.74-11.61-8.577-27.969-3.515-44.722c1.686,12.816,6.953,28.625,14.447,43.841c1.261,4.861,2.778,9.658,4.517,14.32
      				C21.42,128.342,16.131,123.869,12.3,118.1z M30.984,133.018c-0.752-1.742-1.473-3.504-2.159-5.285
      				c1.132,1.974,2.3,3.919,3.498,5.832C31.87,133.392,31.429,133.202,30.984,133.018z M77.6,182.5
      				c-16.901-2.889-34.085-22.198-45.209-46.329c0.659,0.224,1.332,0.427,2.007,0.628C47.746,157.086,64.5,172.754,80.5,172.8
      				c5.609,0,11.448-1.604,17.292-4.43c1.644,0.331,3.25,0.547,4.808,0.63c9.912,0.53,18.493-6.189,25.658-16.631
      				c2.146-0.57,4.268-1.267,6.363-2.08C120.431,172.918,98.93,186.146,77.6,182.5z M136.623,146.951
      				c-2.098,0.924-4.229,1.715-6.384,2.377c0.756-1.218,1.497-2.473,2.219-3.768c2.898-1.928,5.653-4.076,8.221-6.445
      				C139.424,141.828,138.062,144.436,136.623,146.951z M142.8,143.8c-1.336,0.788-2.697,1.499-4.069,2.17
      				c1.766-3.117,3.407-6.377,4.906-9.771C151.434,128.034,157.237,117.76,160,106c2.406-10.241,2.229-20.46-0.075-29.996
      				c2.15-3.405,4.036-6.792,5.609-10.106C189.085,83.902,169.497,128.051,142.8,143.8z"/>
        </clipPath>
    </defs>
</svg>