<section class="contact">

  <div class="contact__heading">
      <h2>{{'Contact'|t}}</h2>
  </div>

  <div class="contact__info-row">
    <div class="contact__info-col">
      <h4>
        {{'Rental and Information'|t}}
      </h4>
      <p>
        {{'Simple Company The Circle'|t}}
      </p>
      <p>
        {{'c/o Flughafen Zürich AG'|t}}<br/>
        {{'Postfach CH-8058 Zürich-Flughafen'|t}}<br/>
      </p>
      <p>+41 43 816 19 28</p>
      <div class="mail">
        <div data-contact-icon class="mail__icon"></div>
        <div class="mail__address">
          <a href="mailto:thecircle@zurich-airport.com">thecircle@zurich-airport.com</a>
        </div>
      </div>
    </div>
  </div>

  <div class="contact__team-row">
    <div class="contact__team-col">
      <h3>{{'Project Manager'|t}}</h3>

      <img src="{{ base_path ~ directory }}/assets/images/contact/beat_pahud-mobile.jpg" alt="Behat Pahud" title="Behat Pahud" sizes="(min-width: 1290px) 400px, (min-width: 991px) 250px, 250px"
      srcset="{{ base_path ~ directory }}/assets/images/contact/beat_pahud-desktop.jpg 400w,
      {{ base_path ~ directory }}/assets/images/contact/beat_pahud-mobile.jpg 250w">

      <h5>Beat Pahud</h5>
      <p>{{'Phone:'|t}} +41 43 816 19 28</p>
      <p>
        <a href="mailto:beat.pahud@zurich-airport.com">beat.pahud@zurich-airport.com</a>
      </p>
    </div>
    <div class="contact__team-col">
      <h3>{{'Commercial Director'|t}}</h3>

      <img src="{{ base_path ~ directory }}/assets/images/contact/doris_armellini-mobile.jpg" alt="Doris Armellini" title="Doris Armellini" sizes="(min-width: 1290px) 400px, (min-width: 991px) 250px, 250px"
      srcset="{{ base_path ~ directory }}/assets/images/contact/doris_armellini-desktop.jpg 400w,
      {{ base_path ~ directory }}/assets/images/contact/doris_armellini-mobile.jpg 250w">

      <h5>Doris Armellini</h5>
      <p>{{'Phone:'|t}} +41 43 816 72 57</p>
      <p>
        <a href="mailto:doris.armellini@zurich-airport.com">doris.armellini@zurich-airport.com</a>
      </p>
    </div>
  </div>

  <div class="contact__team-row">
    <div class="contact__team-col">
      <h3>{{'Sales'|t}}<br/>{{'Gastronomy'|t}}</h3>

      <img src="{{ base_path ~ directory }}/assets/images/contact/ullrich_wolf-mobile.jpg" alt="Ullrich Wolf" title="Ullrich Wolf" sizes="(min-width: 1290px) 400px, (min-width: 991px) 250px, 250px"
      srcset="{{ base_path ~ directory }}/assets/images/contact/ullrich_wolf-desktop.jpg 400w,
      {{ base_path ~ directory }}/assets/images/contact/ullrich_wolf-mobile.jpg 250w">

      <h5>Ullrich Wolf</h5>
      <p>{{'Phone:'|t}} +41 43 816 29 62</p>
      <p>
        <a href="mailto:ullrich.wolf@zurich-airport.com">ullrich.wolf@zurich-airport.com</a>
      </p>
    </div>
    <div class="contact__team-col">
      <h3>{{'Sales'|t}}<br/>{{'Brands & Dialogue'|t}}</h3>

      <img src="{{ base_path ~ directory }}/assets/images/contact/beno_feuz-mobile.jpg" alt="Beno Feuz" title="Beno Feuz" sizes="(min-width: 1290px) 400px, (min-width: 991px) 250px, 250px"
      srcset="{{ base_path ~ directory }}/assets/images/contact/beno_feuz-desktop.jpg 400w,
      {{ base_path ~ directory }}/assets/images/contact/beno_feuz-mobile.jpg 250w">

      <h5>Beno Feuz</h5>
      <p>{{'Phone:'|t}} +41 43 816 76 51</p>
      <p>
        <a href="mailto:beno.feuz@zurich-airport.com">beno.feuz@zurich-airport.com</a>
      </p>
    </div>
  </div>

  <div class="contact__team-row egg">
    <div class="contact__team-heading">
      <h3>{{'Sales'|t}}<br />{{'Headquarters & Offices'|t}}</h3>
    </div>

    <div class="contact__team-col">
      <img src="{{ base_path ~ directory }}/assets/images/contact/nadja_kreis-mobile.jpg" alt="Nadja Kreis" title="Nadja Kreis" sizes="(min-width: 1290px) 400px, (min-width: 991px) 250px, 250px"
      srcset="{{ base_path ~ directory }}/assets/images/contact/nadja_kreis-desktop.jpg 400w,
      {{ base_path ~ directory }}/assets/images/contact/nadja_kreis-mobile.jpg 250w">

      <h5>Nadja Kreis</h5>
      <p>{{'Phone:'|t}} +41 43 816 75 07</p>
      <p>
        <a href="mailto:nadja.kreis@zurich-airport.com">nadja.kreis@zurich-airport.com</a>
      </p>
    </div>
  </div>

  <div class="contact__team-row">
    <div class="contact__team-heading">
      <h4>
        {{'Sales Headquarters & Offices'|t}}
      </h4>
      <h5>Jones Lang Lasalle Ltd.</h5>
    </div>

    <div class="contact__team-col">
      <img src="{{ base_path ~ directory }}/assets/images/contact/jan_eckert-mobile.jpg" alt="Jan Eckert" title="Jan Eckert" sizes="(min-width: 1290px) 400px, (min-width: 991px) 250px, 250px"
      srcset="{{ base_path ~ directory }}/assets/images/contact/jan_eckert-desktop.jpg 400w,
      {{ base_path ~ directory }}/assets/images/contact/jan_eckert-mobile.jpg 250w">

      <h5>Jan Eckert</h5>
      <p>{{'Phone:'|t}} +41 44 215 75 10</p>
      <p>
        <a href="mailto:jan.eckert@eu.jll.com">jan.eckert@eu.jll.com</a>
      </p>
    </div>

    <div class="contact__team-col">
      <img src="{{ base_path ~ directory }}/assets/images/contact/philipp_stricker-mobile.jpg" alt="Philipp Stricker" title="Philipp Stricker" sizes="(min-width: 1290px) 400px, (min-width: 991px) 250px, 250px"
      srcset="{{ base_path ~ directory }}/assets/images/contact/philipp_stricker-desktop.jpg 400w,
      {{ base_path ~ directory }}/assets/images/contact/philipp_stricker-mobile.jpg 250w">

      <h5>Philipp Stricker</h5>
      <p>{{'Phone:'|t}} +41 44 215 75 42</p>
      <p>
        <a href="mailto:philipp.stricker@eu.jll.com">philipp.stricker@eu.jll.com</a>
      </p>
    </div>
  </div>

  <div class="contact__team-row">
    <div class="contact__team-heading">
      <h3>{{'Design & Construction'|t}}</h3>
    </div>

    <div class="contact__team-col">
      <img src="{{ base_path ~ directory }}/assets/images/contact/oliver_strub-mobile.jpg" alt="Oliver Strub" title="Oliver Strub" sizes="(min-width: 1290px) 400px, (min-width: 991px) 250px, 250px"
      srcset="{{ base_path ~ directory }}/assets/images/contact/oliver_strub-desktop.jpg 400w,
      {{ base_path ~ directory }}/assets/images/contact/oliver_strub-mobile.jpg 250w">

      <h5>Oliver Strub</h5>
      <p>{{'Phone:'|t}} +41 43 816 76 43</p>
      <p>
        <a href="mailto:oliver.strub@zurich-airport.com">oliver.strub@zurich-airport.com</a>
      </p>
    </div>
    <div class="contact__team-col">
      <img src="{{ base_path ~ directory }}/assets/images/contact/steivan_clavadetscher-mobile.jpg" alt="Steivan Clavadetscher" title="Steivan Clavadetscher" sizes="(min-width: 1290px) 400px, (min-width: 991px) 250px, 250px"
      srcset="{{ base_path ~ directory }}/assets/images/contact/steivan_clavadetscher-desktop.jpg 400w,
      {{ base_path ~ directory }}/assets/images/contact/steivan_clavadetscher-mobile.jpg 250w">

      <h5>Steivan Clavadetscher</h5>
      <p>{{'Phone:'|t}} +41 43 816 19 23</p>
      <p>
        <a href="mailto:steivan.clavadetscher@zurich-airport.com">steivan.clavadetscher@zurich-airport.com</a>
      </p>
    </div>
  </div>

  <div class="contact__team-row">
    <div class="contact__info-col">
      <h3>
        {{'Media'|t}}
      </h3>
      <p>
        {{'Flughafen Zürich AG'|t}}
      </p>
      <p>
        {{'Media «The Circle»'|t}}<br/>
        {{'Postfach CH-8058 Zürich-Flughafen'|t}}<br/>
      </p>
    </div>
  </div>

  <div class="contact__team-row">
    <div class="contact__team-heading">
      <h3>{{'Media Spokesperson'|t}}<br />{{'Corporate Communication'|t}}</h3>
    </div>
    <div class="contact__team-col">
      <img src="{{ base_path ~ directory }}/assets/images/contact/raffaela_stelzer-mobile.jpg" alt="Raffaela Stelzer" title="Raffaela Stelzer" sizes="(min-width: 1290px) 400px, (min-width: 991px) 250px, 250px"
      srcset="{{ base_path ~ directory }}/assets/images/contact/raffaela_stelzer-desktop.jpg 400w,
      {{ base_path ~ directory }}/assets/images/contact/raffaela_stelzer-mobile.jpg 250w">

      <h5>Raffaela Stelzer</h5>
      <p>{{'Phone:'|t}} +41 43 816 75 77</p>
      <p>
        <a href="mailto:raffaela.stelzer@zurich-airport.com">raffaela.stelzer@zurich-airport.com</a>
      </p>
    </div>
  </div>

  <div class="contact__partner-row">
    <div class="contact__partner-heading">
      <h3>{{'Partner'|t}}</h3>
    </div>

    <div class="contact__partner-col">
      <h4>
        {{'Partner bulilding construction'|t}}
      </h4>
      <p>
        {{'HRS Real Estate AG'|t}}
      </p>
      <p>
        {{'Office Center 1'|t}}<br/>
        {{'Flughafenstraße 90'|t}}<br/>
        {{'8302 Kloten'|t}}
      </p>
      <p>
        {{'+41 43 816 19 28'|t}}
      </p>

      <div class="mail">
        <div data-contact-icon class="mail__icon"></div>
        <div class="mail__address">
          <a href="mailto:media@hrs.ch">media@hrs.ch</a>
        </div>
      </div>

      <h6>{{'Further construction partners'|t}}</h6>

      <div class="mail">
        <div data-contact-icon class="arrow__icon"></div>
        <div class="mail__address">
          <a href="{{ path('entity.node.canonical', {'node': 83}) }}">{{'List of partners'|t}}</a>
        </div>
      </div>

    </div>
    <div class="contact__partner-col">
      <h4>
        {{'Announcement'|t}}
      </h4>
      <p>
        {{'Here you will find all current announcements:' |t}}
      </p>

      <div class="mail">
        <div data-contact-icon class="arrow__icon"></div>
        <div class="mail__address">
          <a target="_blank" href="http://www.olmero.ch">www.olmero.ch</a>
        </div>
      </div>
    </div>

  </div>

</section>
