<div class="for-overview {{content.overview_color}}">
  {{content.houses_nav}}

  <div class="area-row">
    <section class="area-stage">
      <div class="area-stage__images">
        <div class="overview-images">
          <div class="interactive-area">
            {{content.field_image}}
            <svg id="house-overlay" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" viewBox="0 0 1300 831" enable-background="new 0 0 1300 831" xml:space="preserve">
               <a xlink:href="{{path('entity.node.canonical', {'node': 33})}}">
               <g data-node-id="33" id="H11">
               	<path d="M261.4,675.6l-56.1-2.4c0,0-10.5-149.9-9.7-149.8s17.4-30,17.4-30l129.5-54.1c0,0,33.2-12.7,50.7-17.9
               	c19.5-5.8,68.1-17.9,68.1-17.9l31.4,6.8l15-8.7l72.5,14.5l-0.5,40.1l42.5-26.1l220.4,45.4l-0.5,6.8h-2.4l-46.4,155.1l-47.4,1.9
               	l-1.5-1.9l-16.9,1.5l-1,1c0,0-98.4,3.5-123.2,7.2s-74.9,11.3-124.2,43c7.1-4,1-2.4,1-2.4l-110.2,11.6l-0.5,1.5h-3.9l-1-1.5l-6.8,0.5
               	l-0.5,1.9l-3.4,0.5c0,0-0.5-2-0.8-1.2c-0.3,0.8-88.8,7.7-92,4.6C261.4,704.5,261.4,675.6,261.4,675.6z"/>
               </g>
               </a>

               <a xlink:href="{{path('entity.node.canonical', {'node': 36})}}">
               <g data-node-id="36" id="H12">
               	<path d="M842.3,475.6l-14.5-3.4v-10.1l75.9-56l26.1,4.8l75.9-57.5l12.6,2.4l33.8-26.6l58,9.7l1.4-1.4h2.9v-1
               	h1.9l20.3-15.9l-2.4-1.5v-1.9l2.9,1.4h5.8v1.9h-4.8v2.9h1.4v1l2.9,0.5v5.3l-9.7-1l0.5-2.4l-14,12.1h3.4v0.5h2.4v1.9l57,9.7v7.2
               	c0,0-47.8,105.5-58.1,126.7c-0.6,1.2-1.1,2.1-1.4,2.8c-6,11.5-9.1,24.8-37.2,50.2c-0.4,0-10.1-1.9-10.1-1.9c0.2-0.4,0.2-0.9-0.1-1.3
               	c-0.6-0.2-1.2-0.3-1.9-0.2l-2.4,1.4h-2.9l-0.5,1.5l-4.8-0.5l-1,0.5l-4.3,24.6l-0.5,0.5l-0.5,0.5c0,0-18,14.7-34.3,23.2
               	c-5.9,3.1-11.4,7-49.8,21.3c-13.8,3.5-48.5,13.5-85.6,20.8c-21.2,4.2-42.7,6.4-64.2,6.8l2.9-103.9L842.3,475.6z M1060.3,560.2
               	l3.9-20.3l7.2,1.9l-0.5,5.3l3.9,1.5C1074.8,548.6,1061.3,559.2,1060.3,560.2z"/>
               </g>
               </a>

               <a xlink:href="{{path('entity.node.canonical', {'node': 37})}}">
               <g data-node-id="37" id="H13_1_">
               	<path d="M709.892,283.367l0.967-54.629,13.048-6.28,0.483-25.607,5.8-3.382,0.966-1.932,26.1-13.528,158.03,22.707L914.8,218.592l59.926,8.7s-0.935,35.841-1.364,43.826a1.166,1.166,0,0,1-1.052,1.106l-3.383,62.808,14.015,2.416-1.45,33.82,24.159-17.877,12.57,1.933,34.31-26.09,57.51,9.663,1.45-1.932,2.9,0.483,0.48-.967,1.94-.483,19.81-15.46-2.42-1.45v-1.932l2.9,1.449,6.29,0.483-0.49,1.933h-4.35v0.966l0.97,0.483-0.48,1.933,3.38,0.966-0.48,4.832-8.7-.967v-2.9l-13.53,12.561,5.8,0.483-0.49,1.933,57.03,9.18,0.96,7.247s10.15-19.97,9.67-21.259,0.16,3.06,1.45,0c7.26-17.227,20.78-40.262-1.93-70.055s-75.39-47.991-79.26-49.763-42.04-13.528-42.04-13.528l28.51-3.865v1.449h-0.97l-0.48,3.382,5.32,1.933,1.93-.483v-3.865l-1.93-.484-1.45-1.932a6.385,6.385,0,0,0-.29-3,2.34,2.34,0,0,0-1.65-.869l-0.96,1.932s-32.87,4.188-33.83,3.865-55.9-14.333-58-13.527a2.7,2.7,0,0,0-.48,1.449l-2.9.966-1.93-.483s2.25-1.61.48-1.449c-2.08.189-265.315-55.561-265.315-55.561v-1.45h-0.966l-48.811,23.191-27.546-3.382-27.063,12.078v18.843l-9.666,4.831L621.739,262,624,266l4,2,1,1-1,1v2l2,3,2,6,1-7,2-1,3-5,1-4,3-1h3l4,4,2,6,3,3-4,4v2h4v2l3,1,1,4,27,8Z"/>
               </g>
               </a>

               <a xlink:href="{{path('entity.node.canonical', {'node': 24})}}">
               <g data-node-id="24" id="H14">
               	<path d="M602.295,256.023l5.144-.229,10.651-6.126,3.847,1.295,0.966-64.741,6.387-2.688c1.562-.658-0.1-2.626-0.1-2.626s2.9-1.351,2.9-1.45c-0.021-5.284,0-15.943,0-15.943l27.546-12.562,26.58,3.382,25.613-12.079V131.627l2.417-.966v-4.348h-1.45l-2.9.966c0.426,0.144-153.942-32.4-184.216-38.355C502.053,84.279,467.719,75.255,399.9,62.547c-11.557-2.166-50.041-5.805-56.808-5.806s-7.249-1.933-7.249-1.933L338.257,156.3,343,157l1-2,4-1,3,1,1,2,1,3,1-2,3-2,1-2,2,1,1,3,1,3,3,2,2-1,4-1,1,1,6,1,3,2,1,3,3-2v2l3,1,1,2,2,2v3l1,8,3-2v-4l2,1,2-1,3-1,3,4,2-2h3l1-4h5l1,2,3,2,1,4,4,1,3-1,2,4v5l2-1,3-1h5l4,4,1,7,4-1h4l2-3h5l2,5,5,2,5-3,5,1,5,5,3-2,11,2,2,7,7-1s1.08,4.26,3.739,4.592C513.457,218.182,521,215,521,215l8,1,9,2a49.4,49.4,0,0,1,5.233,5.264c1.205,1.539.566,2.214,1.743,3.509A11.979,11.979,0,0,0,548,229l10-2,8,1,4,11a23.567,23.567,0,0,1,4-4c0.89-.593,2,2,2,2l3,9s2.924,6.924,4,8c0.91,0.91,2-5,2-5l8-3,6,3S595.865,256.308,602.295,256.023Zm53.954-65.453"/>
               </g>
               </a>

               <a xlink:href="{{path('entity.node.canonical', {'node': 38})}}">
               <g data-node-id="38" id="H15">
               	<path d="M708.9,303.6l1.9-74.9l13-6.8l0.5-25.1l6.3-3.4v-1.9l26.6-13.5l157.5,22.7v17.4l59.9,9.2l-1.5,44.4
               	l-1.5,1l-2.4,62.3l-33.3-5.8v-11.6l-31.4-5.3v-1.5l2.4-1.4v-6.8l-7.2-1l-1,1v1.4l-4.8,3.4v0.5h-1.9l-2.4,1.5l-81.2-13l-25.1,15v28.5
               	H780l-3.4,1.9l-7.7-1l-25.1,15.9l-0.5,13l-13-1.9l-12.1,7.7l-0.5-25.6l9.2-5.3l0.5-23.2l4.8-2.9v-2.9l10.6-6.3l0,0L708.9,303.6z"/>
               </g>
               </a>

               <a xlink:href="{{path('entity.node.canonical', {'node': 39})}}">
               <g data-node-id="39" id="H16">
               	<path d="M562,412.3l0.5-14.5l30.9-17.9h1.9l70.6,14v8.2l10.1-6.8l8.7,1.4l7.2-4.8l1.5-2.4l1.9-1h1.5l15.9-9.7
               	l1-2.4l1.9-1.9l1.5-1l1.9,1.9l11.1-7.7l13,1.9l0.5-13l25.1-15.9l6.8,1l3.9-1.9l3.4,0.5l0.5-29l25.1-15h1l79.7,13.5l2.4-1.9h1.9l1-1
               	l4.3-2.4v-2.4l1.5-0.5l6.8,1v6.3l-1.9,1.4h-0.5v1.9l31.4,5.3v11.6l46.4,7.7l-1,34.3l-51.7,39.1l-26.1-4.3l-75.9,56l-0.5,10.1
               	l-205.4-42l-42,26.1l0.5-40.1L562,412.3z M803.2,606.6l20.3-14.5l1.9-59.9L803.2,606.6z"/>
               </g>
               </a>
            </svg>
          </div>
          <div class="zoom-out-image">
            {{content.field_overlay_image}}
          </div>
          {{content.field_layer}}
        </div>
      </div>
    </section>
    <section class="area-info">
      <div class="area-info__top">
        <h1>{{label}}</h1>
        {{content.body}}
      </div>
      {% set form %}
        {{ content.field_request_form }}
      {% endset %}
      {% if form|trim %}
      <div class="area-info__middle">
        <h3 class="area-request__headline">Ihr Flächenbedarf</h3>
        <div class="area-request__form">
          <h3 class="area-request__form__headline">Anfrage</h3>
          <div class="area-request__form__wrap">
          {{ form }}
          </div>
        </div>
      </div>
      {% endif %}
      <div class="area-info__bottom">
        <h3 class="where-what">{{'Where is What'|trans}}</h3>

        {{content.circles}}
      </div>
    </section>
    <section class="area-plan col-12">
      {{content.field_plan_image}}
    </section>
  </div>
</div>
<script type="x-tmpl-mustache" id="house-flag">
  <div class="flag">
    <div class="flag__inner">
      <span class="flag__circle"></span><span class="flag__text">[[title]]</span>
    </div>
  </div>
</script>
