<div class="for-overview {{content.overview_color}}">
  <nav>
  {{content.houses_nav}}
  </nav>

  <div class="area-row">
    <section class="area-stage">
      <div class="area-stage__images">
        <div class="floor-images">
          {{content.field_image}}
          {{content.field_layer}}
        </div>
      </div>
    </section>
    <section class="area-info">
      <h1>{{label}}</h1>

      {{content.body}}

      <h3 class="where-what">{{'Where is What in @house'|t({'@house': label|render})}}</h3>
      {{content.circles}}
    </section>
  </div>

  <h2>{{'Rental'|t}}</h2>
  <div class="house-floors-container">
    {{content.field_floors}}
    <div class="house-svg" data-svg-url="{{file_url(content.field_house_svg[0]['#file'].getFileUri())}}"></div>
  </div>

  {% include '@circle/partials/area_contact.html.twig' %}
</div>