<article class="news-article">

  <div class="news-article__btn-back">
    <button class="btn btn-primary" data-action=""><a href="{{ path('view.news.page_1') }}"><span class="icon-arrow-left"></span></a></button>
    <div class="text">{{'Back to all News'|t}}</div>
  </div>

  <div class="news-article__row">
    <div class="news-article__col">
      <header class="news-article__col__header">
        <p>{{ date }}</p>
        <h2>{{ label }}</h2>
        <p>{{ content.body['#object'].body.summary }}</p>
      </header>

      <div class="news-article__col__content">
        {{ content.field_image }}

        <div>
          {{ content.body }}
        </div>
      </div>

      <footer class="news-article__col__footer">
          <div>
            <a href="{{file_url(content.field_pdf[0]['#file'].getFileUri())}}">
              {{'Download PDF'|t}}
              <span class="icon-file-pdf"></span>
            </a>
          </div>

          <div>
            <span>Artikel teilen</span>
            <ul>
              <li class="icon-email"></li>
              <li class="icon-facebook"></li>
              <li class="icon-twitter"></li>
              <li class="icon-linkedin"></li>
            </ul>
          </div>

      </footer>
    </div>
  </div>
</article>
