{% set color = content.field_color['#items'][0].value %}
<div class="module-teaser-2 {{color}}">
  <a href="{{url}}" alt="{{node.label}}">
    <div class="egg-image">
      {{content.field_image}}
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 491 491" enable-background="new 0 0 491 491" xml:space="preserve">
        {% if color == 'green' %}
        <g>
        	<path class="mask-white" d="M-2-1v492h493V-1H-2z M394.905,344.693C303.278,469.477,161.564,522.82,78.381,463.842
	c-83.185-58.98-90.495-228.403,1.133-353.189C171.142-14.131,383.823,1.329,410.194,11.959
	C520.644,31.858,486.534,219.909,394.905,344.693z"/>
        </g>
        <g>
        	<path class="mask-color" d="M410.194,11.959c-26.371-10.63-239.052-26.09-330.68,98.694
		c-91.628,124.786-84.318,294.209-1.133,353.189c83.183,58.978,224.897,5.635,316.524-119.149
		C486.534,219.909,520.644,31.858,410.194,11.959L410.194,11.959z M348.026,365.83c-104.348,91.384-238.655,110.566-299.982,42.842
		c-61.328-67.723-34.867-217.342,69.482-308.727C221.877,8.56,327.285,11.621,418.876,43.378
		C525.165,77.204,452.376,274.445,348.026,365.83L348.026,365.83z"/>
        </g>
        {% elseif color == 'brown' %}
        <g>
        	<path class="mask-white" d="M-2-1v492h493V-1H-2z M362.008,444.758C253.06,511.57,108.67,477.623,39.501,368.94
	C-29.667,260.257-7.391,89.258,101.557,22.446c108.948-66.81,212.164,37.806,332.48,104.553
	C547.267,189.815,470.957,377.947,362.008,444.758z"/>
        </g>
        <g>
        	<path class="mask-color" d="M434.037,126.999C313.721,60.252,210.505-44.364,101.557,22.446
        		C-7.391,89.258-29.667,260.257,39.501,368.94c69.169,108.683,213.559,142.63,322.507,75.818
        		C470.957,377.947,547.267,189.815,434.037,126.999L434.037,126.999z M381.369,416.104c-88.32,78.188-225.002,70.476-305.29-17.224
        		S-11.367,152.18,76.952,73.991c88.32-78.188,198.903,0.359,318.961,41.745C508.9,154.684,469.69,337.916,381.369,416.104
        		L381.369,416.104z"/>
        </g>
        {% elseif color == 'red' %}
        <g>
        	<path class="mask-white" d="M-2-1v492h493V-1H-2z M300.008,487.482c-107.011,4.764-246.495-21.501-264.033-155.936
	C17.571,190.471,131.105,8.527,238.116,3.766c107.011-4.763,207.491,100.401,224.428,234.889
	C479.483,373.145,407.019,482.72,300.008,487.482z"/>
        </g>
        <g>
        	<path class="mask-color" d="M300.008,487.482c-107.011,4.764-246.495-21.501-264.033-155.936
		C17.571,190.471,131.105,8.527,238.116,3.766c107.011-4.763,207.491,100.401,224.428,234.889
		C479.483,373.145,407.019,482.72,300.008,487.482L300.008,487.482z M442.692,271.974c12.294-120.607-56.177-228.23-152.935-240.384
		C192.998,19.436,54.229,161.772,41.903,288.383c-11.746,120.651,107.744,164.99,204.504,177.143
		C343.165,477.68,430.397,392.582,442.692,271.974L442.692,271.974z"/>
        </g>
        {% elseif color == 'blue' %}
        <g>
        	<path class="mask-white" d="M-2-1v492h493V-1H-2z M272.728,473.07C171.869,478.722,2.694,352.131,2.566,251.389
	C2.437,150.646,207.612,39.953,307.645,40.104C407.675,40.257,488.871,122.047,489,222.791
	C489.129,323.534,373.852,469.057,272.728,473.07z"/>
        </g>
        <g>
        	<path class="mask-color" d="M272.728,473.07C373.852,469.057,489.129,323.534,489,222.791
		c-0.129-100.744-81.325-182.534-181.355-182.687C207.612,39.953,2.437,150.646,2.566,251.389
		C2.694,352.131,171.869,478.722,272.728,473.07L272.728,473.07z M16.292,284.429C5.863,191.192,184.455,62.832,277.065,50.345
		c92.609-12.485,176.138,52.975,186.568,146.213c10.429,93.237-81.384,242.49-174.578,258.969
		C196.273,473.489,26.722,377.664,16.292,284.429L16.292,284.429z"/>
        </g>
        {% elseif color == 'orange' %}
        <g>
        	<path class="mask-white" d="M-2-1v492h493V-1H-2z M375.899,399.261C265.809,500.769,124.118,517.692,59.42,437.062
	C-5.276,356.433-37.99,186.367,72.098,84.859C182.189-16.647,393.393-11.157,458.089,69.473
	C522.788,150.103,485.988,297.754,375.899,399.261z"/>
        </g>
        <g>
        	<path class="mask-color" d="M458.089,69.473c-64.696-80.63-275.9-86.12-385.991,15.386
		C-37.99,186.367-5.276,356.433,59.42,437.062c64.698,80.63,206.389,63.707,316.479-37.801
		C485.988,297.754,522.788,150.103,458.089,69.473L458.089,69.473z M425.169,312.575
		C367.284,434.933,229.895,509.968,152.81,468.406C75.727,426.843-22.934,298.888,34.948,176.531
		C92.833,54.175,285.342-16.252,362.425,25.311C439.509,66.873,483.051,190.217,425.169,312.575L425.169,312.575z"/>
        </g>
        {% elseif color == 'sea' %}
        <g>
        	<path class="mask-white" d="M-2-1v492h493V-1H-2z M484.171,314.057C456.502,432.458,338.143,506.492,219.81,479.419
	C101.477,452.344-23.788,267.766,3.883,149.365C31.552,30.964,201.677,12.924,320.01,39.998
	C438.343,67.071,511.842,195.656,484.171,314.057z"/>
        </g>
        <g>
        	<path class="mask-color" d="M320.01,39.998C201.677,12.924,31.552,30.964,3.883,149.365
		c-27.671,118.401,97.594,302.979,215.927,330.054c118.333,27.073,236.692-46.961,264.361-165.362
		C511.842,195.656,438.343,67.071,320.01,39.998L320.01,39.998z M442.7,368.747c-54.144,96.377-178.918,135.581-275.478,81.585
		c-96.56-53.997-156.711-252.264-102.565-348.64c54.144-96.377,207.382-68.528,303.941-14.53
		C465.158,141.158,496.846,272.371,442.7,368.747L442.7,368.747z"/>
        </g>
        {% elseif color == 'yellow' %}
        <g>
        	<path class="mask-white" d="M-2-1v492h493V-1H-2z M470.732,192.584c-5.404,89.89-66.722,300.284-174.947,295.33
	C187.56,482.96,12.719,323.303,18.122,233.413C23.524,143.523,183.027-0.83,291.251,4.124
	C399.475,9.078,476.133,102.694,470.732,192.584z"/>
        </g>
        <g>
        	<path class="mask-color" d="M291.251,4.124C183.027-0.83,23.524,143.523,18.122,233.413
		c-5.403,89.89,169.438,249.547,277.663,254.501s169.543-205.44,174.947-295.33C476.133,102.694,399.475,9.078,291.251,4.124
		L291.251,4.124z M324.47,464.788C223.6,471.093,39.739,340.888,32.353,257.13C24.964,173.371,152.728,23.686,253.599,17.381
		c100.87-6.305,184.737,72.644,192.125,156.402C453.111,257.542,425.341,458.483,324.47,464.788L324.47,464.788z"/>
        </g>                
        {% else %}
        <g>
        	<path class="mask-white" d="M-2-1v492h493V-1H-2z M354.133,474.228c-98.585,46.871-227.152-17.479-287.165-143.721
        		c-60.01-126.246-28.736-266.575,69.85-313.44c98.585-46.866,227.156,17.485,287.167,143.727
        		C483.999,287.039,452.725,427.368,354.133,474.228z"/>
        </g>
        <g>
        	<path class="mask-color" d="M430.44,181.77c44.064,118.951-2.258,245.773-103.467,283.266
        		c-101.207,37.492-218.973-28.54-263.041-147.489C19.867,198.596,66.189,71.773,167.397,34.279
        		C268.605-3.213,386.376,62.82,430.44,181.77z M136.818,17.067c-98.586,46.865-129.86,187.194-69.85,313.44
        		c60.012,126.241,188.58,190.592,287.165,143.721c98.592-46.859,129.866-187.188,69.852-313.434
        		C363.974,34.552,235.403-29.799,136.818,17.067z"/>
        </g>
        {% endif %}
      </svg>
    </div>
    <h6>{{label}}</h6>
  </a>
  <div class="details">
    <div class="details__text">
      {{content.field_teaser_text}}
    </div>
  </div>
</div>