<article class="article-teaser">
  {{ content.field_image }}
  <div class="article-teaser__content">

    <footer>
        {{ date }}
        {{ metadata }}
    </footer>

    <h3>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h3>

    {{ content|without('field_image')|without('links') }}
  </div>
</article>
