<div class="for-overview {{content.overview_color}}">
  {{content.houses_nav}}

  <div class="area-row">
    <section class="area-stage">
      <div class="area-stage__images">
        <div class="floor-images">
          <div class="floor-images__wrapper">
          {{content.field_image}}
          {% block svg_overlay %}
            please rewrite this part
          {% endblock %}
          </div>
          {{content.field_layer}}
        </div>
      </div>
      <div class="area__scroll">
        <a href="" data-scroll-target=".headline-between" class="scroll-animator">
          <span class="icon-arrow-down">
              <span class="path1 arrow"></span><span class="path2"></span>
          </span>
        </a>
      </div>
    </section>
    <section class="area-info">
      <div class="area-info__top">
        <h1>{{label}}</h1>

        {{content.body}}
      </div>
      <div class="area-info__bottom">
        <h3 class="where-what">{{'Where is What in @house'|t({'@house': label|render})}}</h3>
        {{content.circles}}
      </div>
    </section>
  </div>

  <h2 class="headline-between">{{'Rental'|t}}</h2>
  <div class="house-floors-container">
    {{content.field_floors}}
    <div class="house-svg" data-svg-url="{{file_url(content.field_house_svg[0]['#file'].getFileUri())}}"></div>
  </div>
  
  <section class="content-blocks">
    {{content.field_blocks_below}}
  </section>
  
  {% include '@circle/partials/area_contact.html.twig' %}
</div>