<div class="front-page">
  {{content.field_stage_content}}
  <section class="hero">
    <div class="logo-row">
        {% include '@circle/partials/logo.html.twig' %}
    </div>
    <div class="hero__row">
      <div class="hero__col">
        <h2 class="hero__title">{{content.field_hero_title}}</h2>
        <div class="hero__text">
          {{content.body}}
        </div>
        <div class="hero__btn">
          {{content.field_hero_link}}
        </div>
      </div>
    </div>
  </section>
  
  {% for item in items %}
  {{ item }}
  {% if loop.index == 3 and loop.length > 3 %}
    <div class="load-more">
      <p>{{'Show more specials'|trans}}</p>
      <a data-toggle="collapse" data-target="#more-items" href="#">
        <span class="icon-plus"></span>
      </a>
    </div>
    
    <div id="more-items" class="more-items collapse">
  {% endif%}
  
  {% if loop.last and loop.length > 3 %}
    </div>
  {% endif%}
  {% endfor %}
  
  {{content.field_blocks_below}}
</div>