{% extends "node--rental_house.html.twig" %}

{% block svg_overlay %}
  <svg version="1.1" id="house-overlay" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1300 831" style="enable-background:new 0 0 1300 831;" xml:space="preserve">
    <a xlink:href="{{path('entity.node.canonical', {'node': 33})}}">
      <g data-node-id="33" id="H11">
        <polygon class="st0" points="535.8,831 539.2,819.4 544.1,819.4 545,805.9 104.3,715 19.2,767.2 20.2,687 0,682.9 0,831"/>
      </g>
    </a>
    <a xlink:href="{{path('entity.node.canonical', {'node': 39})}}">
      <g data-node-id="39" id="H16">
        <polygon class="st0" points="0,641.2 46.3,614.5 50.2,614.5 191.3,642.5 191.3,658.9 211.6,645.4 229,648.3 243.5,638.6
	246.4,633.8 250.2,631.9 253.1,631.9 285,612.6 287,607.7 290.8,603.9 293.7,601.9 297.6,605.8 319.8,590.3 345.9,594.2
	346.9,568.1 397.2,536.2 410.7,538.1 418.4,534.3 425.2,535.2 426.1,477.2 476.4,447.3 478.3,447.3 637.8,474.3 642.6,470.5
	646.5,470.5 648.4,468.5 657.1,463.7 657.1,458.9 660,457.9 673.6,459.8 673.6,472.4 669.7,475.3 668.7,475.3 668.7,479.2
	731.6,489.8 731.6,513 824.4,528.5 822.4,597.1 719,675.4 666.8,666.7 515.1,778.8 514.1,799.1 103.3,715 19.2,767.2 20.2,687
	0,682.7 "/>
      </g>
    </a>
    <a xlink:href="{{path('entity.node.canonical', {'node': 38})}}">
      <g data-node-id="38" id="H15">
        <polygon class="st0" points="277.3,461.8 281.2,312 307.3,298.4 308.2,248.2 320.8,241.4 320.8,237.5 374,210.5 689,255.9
	689,290.7 808.9,309.1 806,398 803.1,399.9 798.3,524.6 731.6,513 731.6,489.8 668.7,479.2 668.7,476.3 673.6,473.4 673.6,459.8
	659.1,457.9 657.1,459.8 657.1,462.7 647.5,469.5 647.5,470.5 643.6,470.5 638.8,473.4 476.4,447.3 426.1,477.2 426.1,534.2
	419.4,534.2 412.6,538.1 397.1,536.2 346.9,568.1 345.9,594.2 319.8,590.3 295.7,605.8 294.7,554.5 313.1,543.9 314,497.5
	323.7,491.7 323.7,485.9 345,473.4 345,473.4 "/>
      </g>
    </a>
    <a xlink:href="{{path('entity.node.canonical', {'node': 24})}}">
      <g data-node-id="24" id="H14">
        <path class="st0" d="M0,331.8c2.2-2.7,4.7-5.2,7.5-7.4c1.8-1.2,4,4,4,4l6,18c0,0,5.8,13.9,8,16c1.8,1.8,4-10,4-10l16-6
	l12,6c0,0-6.3,14.6,6.6,14.1l10.3-0.5l21.3-12.3l7.7,2.6l1.9-129.5l12.8-5.4c3.1-1.3-0.2-5.3-0.2-5.3s5.8-2.7,5.8-2.9
	c0-10.6,0-31.9,0-31.9l55.1-25.1L232,163l51.2-24.2v-21.3l4.8-1.9V107h-3l-5.8,1.9c0.6,0.2-166.8-35.1-279.2-58.4V331.8z"/>
      </g>
    </a>
    <a xlink:href="{{path('entity.node.canonical', {'node': 36})}}">
      <g data-node-id="36" id="H12">
        <path class="st0" d="M1104.2,831c0.2-0.3,2.1-4.1,3.3-6.5c20.5-42.4,116-253.5,116-253.5v-14.5l-114.1-19.3v-3.9h-4.8v-1
	h-6.8l28-24.2l-1,4.8l19.3,1.9v-10.6l-5.8-1v-1.9h-2.9v-5.8h9.7v-3.9h-11.6l-5.8-2.9v3.9l4.8,2.9l-40.6,31.9h-3.9v1.9h-5.8l-2.9,2.9
	l-116-19.3l-67.7,53.2l-25.1-4.8L719,676.4l-52.2-9.7L515.1,778.8v20.3l29,6.8l-7.7,25.1L1104.2,831L1104.2,831z"/>
      </g>
    </a>
  </svg>
{% endblock %}