{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
    color ? color
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes.addClass(body_classes) }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ base_path ~ directory }}/assets/favicons/apple-touch-icon.png">
    <link rel="icon" href="{{ base_path ~ directory }}/assets/favicons/favicon.ico" type="image/x-icon" />
    <link rel="icon" type="image/png" href="{{ base_path ~ directory }}/assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ base_path ~ directory }}/assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ base_path ~ directory }}/assets/favicons/manifest.json">
    <meta name="msapplication-config" content="{{ base_path ~ directory }}/assets/favicons/browserconfig.xml" />
    <link rel="mask-icon" href="{{ base_path ~ directory }}/assets/favicons/safari-pinned-tab.svg" color="#2D6CAD">
    <meta name="theme-color" content="#2D6CAD">
  </head>
  <body{{ attributes }}>
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
    {% if node_type != 'discover_page' %}
    {{ page_top }}
    {% endif %}
    <div class="page-content-wrapper">
      {{ page }}
    </div>
    
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>