{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
    color ? color
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes.addClass(body_classes) }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ base_path ~ directory }}/assets/favicons/apple-touch-icon.png">
    <link rel="icon" href="{{ base_path ~ directory }}/assets/favicons/favicon.ico" type="image/x-icon" />
    <link rel="icon" type="image/png" href="{{ base_path ~ directory }}/assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ base_path ~ directory }}/assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ base_path ~ directory }}/assets/favicons/manifest.json">
    <meta name="msapplication-config" content="{{ base_path ~ directory }}/assets/favicons/browserconfig.xml" />
    <link rel="mask-icon" href="{{ base_path ~ directory }}/assets/favicons/safari-pinned-tab.svg" color="#2D6CAD">
    <meta name="theme-color" content="#2D6CAD">
  </head>
  <body{{ attributes }}>
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window,document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '144787202919800');
      fbq('track', 'PageView');
    </script>
    <noscript>
      <img height="1" width="1" src="https://www.facebook.com/tr?id=144787202919800&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
    <script type="text/javascript">
      _linkedin_data_partner_id = "114939";
      </script><script type="text/javascript">
      (function(){var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script");
      b.type = "text/javascript";b.async = true;
      b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
      s.parentNode.insertBefore(b, s);})();
    </script>
    <noscript>
      <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=114939&fmt=gif" />
    </noscript>
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
    {% if node_type != 'discover_page' %}
    {{ page_top }}
    {% endif %}
    <div class="page-content-wrapper">
      {{ page }}
    </div>

    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
    <!-- Twitter universal website tag code -->
    <script>
      !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
      },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
      a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
      // Insert Twitter Pixel ID and Standard Event data below
      twq('init','nydeo');
      twq('track','PageView');
    </script>
    <!-- End Twitter universal website tag code -->
  </body>
</html>
