<div class="fix-wrapper">
  <header class="site-header" role="banner">
    <a class="text-logo" href="{{url('<front>')}}">
      <img src="{{ base_path ~ directory }}/assets/images/text-logo.svg" />
    </a>
    {{elements.mainmenuen}}
    {{elements.headermeta}}
    <div data-toggle="collapse" data-target="#navi-collapse" data-burger class="burger collapsed">
      <span class="burger__patty"></span>
      <span class="burger__patty"></span>
      <span class="burger__patty"></span>
    </div>
  </header>
  <div class="flyout">
    <div id="navi-collapse" class="flyout__collapse collapse">
      <div data-flyout-navi class="flyout__navi"></div>
    </div>
  </div>
</div>
{{elements.mainmenu}}
